<form method="post" action="/doctor/doctor-login" id="login1">

       <label><B>email:</B>
            <input type="text" name="password" placeholder="Enter Password" required>
            </label><br><br>
            
        <label><B>password:</B>
            <input type="Password" name="password" placeholder="Enter Password" required>
            </label><br><br>
     <button type="submit"><b>Login</b></button> 
		
</form>
