<form method="post" action="/doctor/doctor-code" id="login1">

            <label><B>Name:</B>
            <input type="text" name="name" placeholder="Enter UserId" required>
            </label><br><br>


			
	    <label><B>email:</B>
            <input type="text" name= "email" placeholder="Enter Password" required>
            </label><br><br>
            
        <label><B>password:</B>
            <input type="text" name="password" placeholder="Enter Password" required>
            </label><br><br>
            
        <label><B>degree:</B>
            <input type="text" name="degree" placeholder="Enter Password" required>
            </label><br><br>
            
        <label><B>place:</B>
            <input type="text" name="place" placeholder="Enter Password" required>
            </label><br><br>
            
        <label><B>time:</B>
            <input type="text" name="time" placeholder="Enter Password" required>
            </label><br><br>
         
			
            <button type="submit"><b>Register</b></button> 
		
</form>
